@{
    ViewData["Title"] = "about";
}

<h2>Hello, I'm Oluwakayode Samuel Adeyemi 👋 </h2>
    <p>

    Software Developer based in Nigeria, I craft user-friendly web apps using the latest technologies. Passionate about building intuitive interfaces and flawless offline experiences.
    </p>
